* {
    text-align: center;
}

html,
body {
    min-height: 100%;
}

img {
    width: 800px;
    height: auto ;
}
body {
    background-image: linear-gradient( 109.6deg,  rgba(14,11,56,1) 11.2%, rgba(239,37,37,1) 91.1% );

}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 3px;
    color: white;
}

a {
    color: white;
    text-decoration:none;
    padding: 5px;
}

ul,
ol {
    list-style-type: none;
}